*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
  
    height: 100vh;
}

main{
display: flex;

.navbar{
    display: flex;
    flex-direction: column;
    width: 256px;
   
    height: 100vh;
    padding-top: 20px;
    .logo{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
        }
    .lower-part{
    flex-grow: 1;
     display: flex;
     flex-direction: column;
     justify-content: end;
     .profile{
        padding: 15px 0;
        display: flex;
        justify-content: center;
     }
     .logout{
        padding: 15px 0;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
     }
     
    }
 
    ul{
        width: 100%;
        margin-top: 30px;
        li{
   
            width: 100%;
            list-style: none;
           
            border: 1px solid  black;
            a{
             
                padding: 20px 0;
                width: 100%;
                display: block;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
.container{
   
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
.header{
    .side-part{
        flex-grow: 1;
        display: flex;
        justify-content: end;
        .profile{
            padding:15px  30px  ;
            display: flex;
            justify-content: center;
         }
         .logout{
            padding:15px  30px  ;
            display: flex;
            justify-content: center;
     margin-right: 50px;
         }

    }
    height: 48px;
    border: 1px solid black;

}
.content{
    border: 1px solid black;
    background-color: rgb(248, 243, 235);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 50px;
    .upper{
        max-height: 30%;
    flex-grow: 1;
  
    display: flex;
    padding: 24px;
    gap: 5px;
    .box-scroll{
    overflow: auto;
    }
    .box{
        flex: 1;
        border: 1px solid black;
       
    }
    
    }
    .lower{
    flex-grow: 1;
    border: 1px solid black;
    }
}
}


}


